@import url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css);


.Message
{
  color: Blue;
}

.Wizard
{
  font-size: 1rem;
  width: 100%;
  /*border: 1px solid rgba(128, 128, 128, 0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;*/
}

.innerContainer
{
  /*
  margin-bottom: 12px;
  padding: 12px;
  border: 1px solid rgba(128, 128, 128, 0.3);
  -webkit-border-radius: 4px;
  border-radius: 4px;
*/
}

.Wizard h2,
.Wizard h3,
.Wizard h4,
.Wizard h5,
.Wizard h6
{
  font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif !important; 
  color: Green;
}

.century-gothic
{ 
  font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif !important; 
  font-weight: normal;
}

h2 .hdr	
{ 
  font-size: 18px; 
}		

h3 .hdr	
{ 
  font-size: 16px; 
  font-weight: bold;
}		

.Wizard a.CommandButton,
.Wizard a.CommandButton:hover,
.Wizard a.CommandButton:link,
.Wizard a.CommandButton:visited,
.Wizard a.CommandButton:active
{
  color: #000000 !important;
  width: 120px;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.2) !important;
  vertical-align: middle !important;
  text-decoration: none !important;
  padding: 3px 9px !important;
  border: 1px solid rgba(128, 128, 128, 0.3) !important;
  -webkit-border-radius: 4px !important;
  border-radius: 4px !important;
  min-width: 140px !important;
}

.Wizard a.CommandButton *
{
  position: relative !important;
}

.buttonContainer
{
  /*display: none;  hide temporarily */
  text-align: right;
  padding: 18px;
}

.Wizard a.NextBtn,
.Wizard a.PreviousBtn
{
  width: 140px !important;
  display: inline-block;
}

.Wizard .Head
{
  font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif !important; 
  font-size: 1.1rem;
  font-weight: bold;
  color: Green;
}

.Wizard .SectionHead
{
  font-weight: bold;
  margin: 12px 0 12px;
}

#ProgramTypeSelections
{
  text-align: center;
  margin: 0 auto;
  width: 40%;
  font-weight: bold;
}

#ProgramTypeSelections p
{
  margin-top: 9px;
}

.userMsg
{
  font-weight: bold;
  margin: 18px 0 !important;
}

.upper-alpha 
{
    list-style-type:upper-alpha;
}

#SterlingCommercialEnrollment
{
    /*width: 90%;*/
    margin: 18px auto;
    text-align: left;
    border-top: 1px solid Silver;
}

#PercentSelectSlider
{
}

#markers
{
    text-align: center;
}

#lowMarker, #highMarker
{
    font-size: 11px;
}

#lowMarker
{
    float: left;
}

#highMarker
{
    float: right;
}

#totalLabel
{
    margin-top: 12px;
    display: inline-block;
}

#valueMarker
{
    width: 3px;
    text-align: center;
    position: relative;
    border-top: 1px solid Silver;
    border-left: 1px solid Silver;
}

#valueMarker span
{
    position: relative;
    top: -7px;
    left: 6px;
}

.EndNote
{
    margin-top: 2em;
    font-style: italic;
}

.RecChoiceButtonPanel
{
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  /*border: 1px solid #000000;*/
  background-color: rgb(147,149,152);
}

.RecChoiceButtonPanel .recChoiceButton
{
  width: 20%;
  height: 180px;
  display: table-cell;
  text-align: center;
  /*border: 1px solid #000000;*/
  background-color: #FFFFFF;
  position: relative;
  cursor: pointer;
}

.RecChoiceButtonPanel .percentChoice
{
  background-color: #EEEEEE;
}

.RecChoiceButtonPanel .selected
{
  background-color: rgb(0,166,80);
}

.RecChoiceButtonPanel .selected .largePercent
{
  color: #FFFFFF;
}

.RecChoiceButtonPanel .selected p
{
  color: #FFFFFF;
}

.homeImg
{
  margin-top: 9px;
  margin-bottom: 9px;
  position: relative;
  top: 12px;
}

.recChoiceTitle
{
  font-size: 0.6rem !important;
  font-style: normal;
  margin-top: 24px !important;
}

p.recChoiceDesc
{
  font-size: 0.6rem !important;
  font-style: normal;
}

.recChoiceMoPower
{
  display: inline;
}

.monthlyPower
{
  vertical-align: text-bottom;
}

.largePercent
{
  font-size: 3rem;
  color: rgb(0,166,80);
}

.RecChoiceHeader
{
  width: 100%;
  display: table;
  /*border: 1px solid #000000;*/
  background-color: rgb(0, 91, 171);
}

.sizeOfHomeHeader
{
  width: 60%;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  display: table-cell;
}

.percentOfUseHeader
{
  width: 40%;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  display: table-cell;
}

#AlternateContactContainer
{
  /*margin-top: 18px;*/
}



/* Form CSS */

.Wizard fieldset {
  / * clear: both; note that this clear causes inputs to break to left in ie5.x mac, commented out */
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;        /* padding in fieldset support spotty in IE */
  margin: 0 0 12px 0;
}

.Wizard fieldset legend 
{
  font-family: "Century Gothic", CenturyGothic, "Apple Gothic", sans-serif !important; 
	font-size:1.3em; /* bump up legend font size, not too large or it'll overwrite border on left */
                       /* be careful with padding, it'll shift the nice offset on top of border  */
}

.Wizard label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 150px; 
	padding: 0; 
	margin: 5px 0 0; /* set top margin same as .Wizard input - textarea etc. elements */
	text-align: right; 
}

.Wizard .checkbox
{
  margin-top: 18px;
  margin-bottom: 18px;
  display: inline-table;
}

.Wizard .checkbox label 
{
  float: right;
  width: 95%;
  text-align: left;
}

.Wizard .checkbox input[type="checkbox"] 
{
  float: left;
  margin: 6px 0 0 0 !important;
}

.Wizard input, .Wizard textarea, .Wizard select {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of .Wizard elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; /* set margin on left of .Wizard elements rather than right of
                              label aligns textarea better in IE */
}

.Wizard input#reset {
	margin-left:0px; /* set margin-left back to zero on reset button (set above) */
}

.Wizard textarea { overflow: auto; }

.Wizard small {
	display: block;
	margin: 0 0 5px 160px; /* instructions/comments left margin set to align w/ right column inputs */
	/*padding: 1px 3px;*/
	font-size: 88%;
}

.Wizard .required{font-weight:bold;} /* uses class instead of div, more efficient */

.Wizard br {
	clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}
